 
 {% load static  %}
 {% include 'liste_routeur/head.html' %}
 
<!-- end demo code -->
 

<div class="container">
    
        <div class="col">
          <h3 id="search">SUIVI DIMMENSIONNEMENT SWITCH
          <a  onclick="exportTableToExcel('example2','DIMMENSIONNEMENT')" class="link-success"><img src="{% static '/images/excel.png' %}" alt="My image"></a> 
         </h6>
        

   <table id="example2" class="table table-dark table-bordered" style="width:100%">
  <thead>



    <tr>
      <th scope="col">NAME SWITCH</th>
      <th scope="col">LOOP SWITCH</th>
      <th scope="col">routeur</th>
     
       <th scope="col">PERC</th>
       <th scope="col">CAPACITE</th>
      
    </tr>
  </thead>

  <tbody>
  {% for item in fns %}
    <tr>
      <td>{{item.namedevice}}</td>
      
      <td>{{item.loopswitch}}</td>
      <td>{{item.routeur}}</td>
       
       <td>{{item.percent}}</td>
      <td>{{item.capa}}</td>
     
   

   {% endfor %}
 

  </tbody>
</table>
  
</div>
             
              
          
 
        <div class="col">
          <h3  >ALERTE LIEN BH CONGESTIONNEE 
         </h6>    
<canvas id="myChart2" width="100" height="30vh">

</canvas>


<script>
 
 
var ctx = document.getElementById('myChart2').getContext('2d');

var myChart2 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels2|safe }},
        datasets: [{
            label: '',
             
            data: {{ data2|safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>

 

    {% block content %}


    {% endblock %}

 
 
<script>
 

$(document).ready(function() {
$('#example2').DataTable();
} );
 function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}

</script>
 
</body>

</html>
