 <!DOCTYPE html>
 {% load static  %}
    <head>
     <title>IPLANS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
                  <link rel="stylesheet" href="{% static '/css/boosted.css' %}">
          <link rel="stylesheet" href="{% static '/css/boosted.min.css' %}">
 
 
 
         <script type="text/javascript" src="{% static '/js/jquery-1.12.4.min.js' %}"></script>
 
        
         
         <link rel="stylesheet" href="{% static '/css/jquery.dataTables.min.css' %}">
         <script type="text/javascript" src="{% static '/js/jquery.dataTables.min.js' %}"></script>
    </head>
    
     <body>

      <nav class="navbar navbar-expand-lg   " style="background-color: #e3f2fd; background-image: url({% static 'images/discovery.svg' %});">
