 {% include 'liste_routeur/head.html' %}
  {% load static  %}
   
{% for message in messages %}
  
 <div class="alert {{ message.tags }} alert" role="alert" >
  <span class="alert-icon"><span class="visually-hidden">Success</span></span>
  <p> {{ message }}</p>
</div>
{% endfor %}
 <div class="container">
     
        <div class="col">
    <h1> <span class="badge badge-warning">SCRIPT UPDATE</span> </h1>
    <table id="example" class="table table-primary table-bordered" style="width:100%">
        <thead>
            <tr >

      <td > SR</td>
  <td> INTERFACE</td>
  
  <td> DEBIT</td>
  <td> DATE</td>
  <td> USER</td>
  <td> Action</td>
      </tr>
        </thead>
        <tbody>
         
             
  {% for item in script %}


      

        <td> {{item.routeur}}</td>
  <td> {{item.interface}}</td>
   
  <td> {{item.debit}}</td>
  <td> {{item.date}}</td>
  <td> {{item.user}}</td>
   <td> <a href="{% url 'generateupscript1' item.id %}"> <img src="{% static '/images/script.png' %}" alt="My image"></a>
 <a href="" class="link-success"><img src="{% static '/images/calendrier.png' %}" alt="My image"></a>
     <a href="" class="link-danger"><img src="{% static '/images/execution.png' %}" alt="My image"></a>

   </td> 
 
      </tr>
    {% endfor %}
      </tbody>
</table>
 
 
   
<br><br><br>
       <div class="col">
    <h1> <span class="badge badge-warning">SCRIPT NEW SERVICE </span> </h1>
    <table id="example1" class="table table-primary table-bordered" style="width:100%">
        <thead>
            <tr   >
        <td> NOM CLIENT</td>
  <td> SR</td>
  <td> SWITCH</td>
  <td> INTERFACE</td>
  <td> VLAN</td>
 <td>VRF</td>
  <td>DATE</td> 
  <td>USER</td>
<td> Action</td>
      </tr>
        </thead>
        <tbody>
         
             
  {% for item in service %}


      
      <td> {{item.nomClient}}</td>
<td>{{item.routeur}} </td>
<td>{{item.switch}} </td>
<td> {{item.interface}} </td>
<td> {{item.vlan}}</td>
 <td>{{item.VRF}} </td>
<td>{{item.date}}</td>
<td>{{item.user}}</td>  
<td> <a href="{% url 'generatenewscript1' item.id %}"> <img src="{% static '/images/script.png' %}" alt="My image"></a>
   <a href="" class="link-success"><img src="{% static '/images/calendrier.png' %}" alt="My image"></a>
 <a href="" class="link-danger"><img src="{% static '/images/execution.png' %}" alt="My image"></a>

</td> 
  
      </tr>
    {% endfor %}
  </tbody>
</table>
 
 
  
 
 <br><br><br>
         <div class="col">
    <h1> <span class="badge badge-warning">SCRIPT DELETE SERVICE</span>  </h1>
    <table id="example2" class="table table-primary table-bordered" style="width:100%">
        <thead>
				<tr   >
		<td> SR</td>
	<td> INTERFACE</td>
	 
	<td> DATE</td>
      <td> user</td>
      <td> Action</td>
      </tr>
        </thead>
        <tbody>
         
             
  {% for item in delService %}


     <tr>

      <td> {{item.routeur}}</td>
<td> {{item.interface}}</td>
 
 
<td> {{item.date}}</td>
  <td> {{item.user}}</td>
  <td> <a href="{% url 'generatedelscript1' item.id %}"> <img src="{% static '/images/script.png' %}" alt="My image"></a>
 <a href="" class="link-success"><img src="{% static '/images/calendrier.png' %}" alt="My image"></a>
      <a href="" class="link-danger"><img src="{% static '/images/execution.png' %}" alt="My image"></a>

 </td> 
      </tr>
    {% endfor %}
      </tbody>
</table>
     
    <br><br><br>
    <div class="col">
    <h1> <span class="badge badge-warning">SCRIPT  SERVICE MPLS</span>   </h1>
     
    <table id="example3" class="table table-primary table-bordered" style="width:100%">
        <thead>
				<tr    >
		      <td> SR</td>
<td> INTERFACE</td>
<td> VLAN</td>
 

<td> TRANS</td>
<td> PEER</td>
<td> DATE</td>
<td> USER</td>
 <td> Action</td>
      </tr>
        </thead>
        <tbody>
         
             
  {% for item in l2VC %}


     <tr >

      <td> {{item.routeur}}</td>
<td> {{item.interface}}</td>
<td> {{item.vlan}}</td>
 
 <td> {{item.trans}}</td>
 <td> {{item.dist}}</td>
 
<td> {{item.date}}</td>
  <td> {{item.user}}</td>
  <td> <a href="{% url 'generatescript1' item.id %}" > <img src="{% static '/images/script.png' %}" alt="My image"></a>
    <a href="" class="link-success"><img src="{% static '/images/calendrier.png' %}" alt="My image"></a>
     <a href="" class="link-danger"><img src="{% static '/images/execution.png' %}" alt="My image"></a>

  </td> 
      </tr>
    {% endfor %}
     </tbody>
</table>
  
</div>



<script>
$(document).ready(function() {
$('#example').DataTable();
} );
$(document).ready(function() {
$('#example1').DataTable();
} );

$(document).ready(function() {
$('#example2').DataTable();
} );

$(document).ready(function() {
$('#example3').DataTable();
} );


function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}

</script>

