 {% include 'liste_routeur/head.html' %}
   

<br>
<div class="container mb-3  ">

<div class="row ">

  <div class="col">
 
  
    <div class="alert alert-success" role="alert">
        <span class="alert-icon"><span class="sr-only">Success</span></span>
        <p>ETAT PORT <a href="{% url 'home'  %}">BACK HOME</a></p>
    </div>
   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<table class="table table-dark table-bordered" style="width:100%" id="myTable">


  {% for table in Table %}
    <tr>

      <td> {{table}}</td>

    </tr>
  {% endfor %}



</table>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


</div>
